{% extends "layout.html.jinja" %}
{% block content %}
    <h1>Hello and welcome to The Tempest</h1>
    <p>To start uploading right away, proceed 
    <a href="{{ url_for("upload_file") }}">here</a>
    </p>
{% endblock %}
