<!DOCTYPE html>
<html>
    <head>
        <title>The Tempest</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">The Tempest</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('filesharing.upload_file') }}">Upload</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
        <div class="container">
            <div class="page_content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class=notification>
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
