<!DOCTYPE html>
<html>
    <head>
        <title>The Tempest</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <strong><nav>
                    <div class="menubar">
                        <div class="menu_left">
                            <a href="{{ url_for('index') }}">The Tempest</a>
                            <a href="{{ url_for('filesharing.upload_file') }}">Upload</a>
                        </div>
                        <div class="menu_right">
                            {% if g.user %}
                                <a><span>{{ g.user["login"] }}</span></a>
                                <a href="{{ url_for('auth.logout') }}">Logout</a>
                            {% else %}
                                <a href="{{ url_for('auth.register') }}">Register</a>
                                <a href="{{ url_for('auth.login') }}">Log In</a>
                            {% endif %}
                        </div>
                    </div>
                </nav></strong>
            </div>
        </header>
        <div class="container">
            <div class="page_content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class=notification>
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
