/*These are general settings that apply to everything by default*/
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", Arial, sans-serif;
    color: #000000;
    /* Changes the color of whole background */
    background-color: #222034;
}

/*This is that menu that appears on top*/
header {
    background-color: #3F3F74;
    height: 40px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

/*This is site's logo. For now just text, maybe will draw some fancy art l8r*/
header h1.logo {
    font-size: 2em;
    color: #fff;
    margin-top: 5px;
    text-transform: uppercase;
    float: left;
}

/* What happens when you hover on logo
header h1.logo:hover {
    color: #B7C6FF;
    text-decoration: none;
}
*/

/* As you can probably noticed, names are the same as *div* classes */
/* This container affects both uploading form and corners of top menus */
.container {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
}

div.page_content {
    padding: 10px 0 30px 0;
    background-color: #B7C6FF;
    /* this specifes how round border's corners will be. Less - more sharp */
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    /* make upload form appear on center of screen */
    text-align: center;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

/* Top menu elements */

/* These "left" and "right" things should make two menus - one to display on 
right, other on left. So we will be able to, say, show login stuff at right and 
general functions on left. Or something like that*/
.menu_left {
    margin-top: 12.5px;
    float: left;
}

.menu_right {
    margin-top: 12.5px;
    float: right;
}

.menubar a {
    float: center;
    text-decoration: none;
    font-size: 1em;
    padding: 12.5px;
    color: #fff;
    text-transform: uppercase;
}

.menubar a:hover {
    color: #CBDBFC;
    text-decoration: none;
}

/* Table stuff */
table {
    width: 75%;
    /* This will ensure table appears on center */
    margin-left: auto;
    margin-right: auto;
}

/* Adding borders to table */
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

/* Recoloring table's header */
table th {
    background-color: #5B6EE1;
}

/* This will highlight current table's row with color */
table tr:hover {
    background-color: #639BFF;
}
